<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="xServerLog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
  </startup>
  <appSettings>
    <add key="AppLanguage" value="en-US"/>
    <add key="AppPath" value="C:\xServerLog\"/>
    <add key="AppSysLogPath" value="C:\xServerLog\Log\"/>
    <add key="AppCriticalErrorFile" value="CriticalError.log"/>
    <add key="AppLogFileName" value="xServerLog_"/>
    <add key="AppEchFileName" value="xEchoLog_"/>
    <add key="AppLogMode" value="Normal"/>
    <add key="AppMessageMode" value="Normal"/>
    <add key="AppRunningMode" value="Console"/>
    <add key="AppSendMailWhenStart" value="No"/>
    <add key="AppEmailAddressTo" value="irineu.romanato@gmail.com"/>
    <add key="AppEmailAddressFrom" value="iromanato@gmail.com"/>
    <add key="AppEmailOnError" value="act@gmail.com"/>
    <add key="AppSMTPUserAuth" value="iromanato@gmail.com"/>
    <add key="AppSMTPUserAuthPass" value="jbblvhlkzbsyqchw"/>
    <add key="AppSMTPAddress" value="smtp.gmail.com"/>
    <add key="AppSMTPPort" value="587"/>
    <add key="AppServiceName" value="xServerLog"/>
    <add key="AppLicenseFile" value="xServerLog.lic"/>
    <add key="AppDefFile" value="xServerLog.def"/>
    <add key="AppExecInstrutionFile" value="xServerLog.ins"/>
    <add key="LogDateFormat" value="pt-BR"/>
    <add key="LogCreationMode" value="Daily"/>
    <add key="NotifyOnTaskBar" value="No"/>
    <add key="CleanLogFiles" value="60"/>
    <add key="LogServerAddress" value="127.0.0.1"/>
    <add key="LogServerPortTCP" value="13000"/>
    <add key="CompanyName" value="Irineu Ruzza Romanato"/>
    <add key="EchoToLogFileOnDisk" value="Yes"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection"/>
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
</configuration>
